**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/.gitignore
**/node_modules
**/build_output*.txt
**/build_error*.txt
**/doc
**/scripts
**/*.md
**/note_db.txt
**/script.txt
**/Jenkinsfile
**/.dockerignore
**/Dockerfile
**/.github
