<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="Elastic.NLog.Targets"/>
		<add assembly="Elastic.CommonSchema.NLog"/>
	</extensions>

	<targets>
		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Cấu hình chuẩn Data Stream cho Elastic.NLog.Targets v9 -->
		<!-- Cú pháp mặc định sẽ ghép thành: {DataStreamType}-{DataStreamSet}-{DataStreamNamespace} -->
		<target name="elastic" xsi:type="ElasticSearch"
			nodeUris="${configsetting:name=ElasticConfig.Url}"
			username="${configsetting:name=ElasticConfig.UserName}"
			password="${configsetting:name=ElasticConfig.Password}"
			DataStreamType="logs"
			DataStreamSet="digitalmarket"
			DataStreamNamespace="apps">
			
			<layout xsi:type="EcsLayout">
				<metadata name="app" layout="digital-market-business" />
				<metadata name="app_id" layout="digital-market" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="elastic" />
	</rules>
</nlog>
